header img {
    height: 72px;
}

.banner_image {
    width: 100%;
    height: 300px;
    object-fit: cover;
}

.restaurant_logo {
    height: 124px;
    border-radius: 50%;
    background-color: rgb(10, 76, 97);
    position: absolute;
    top: 300px;
    left: 50%;
    transform: translate(-50%, -50%); /*verschiebt das Bild um 50% der eigenen Höhe und Breit nach links, sodass es exakt mittig ist */
}

.main_dishes_banner_image {
    height: 250px;
    width: 100%;
    object-fit: cover;
}

.plus_sign {
    height: 42px;
    width: 42px;
    position: absolute;
    top: 0;
    right: 0;
    border-left-style: solid;
    border-left-width: 2px;
    border-left-color: rgb(255 128 0 / 80%);
    border-bottom-style: solid;
    border-bottom-width: 2px;
    border-bottom-color: rgb(255 128 0 / 80%);
    padding: 2px;
}

.plus_sign:hover {
    background-color: rgb(21, 249, 21);
}

.basket_icons_plus_minus {
    border-radius: 50%;
    height: 32px;
}

.basket_icons_plus_minus:hover {
    background-color: rgb(255 128 0 / 50%);
}

.delete_dish_icon {
    border-radius: 50%;
    height: 32px;
}

.delete_dish_icon:hover {
    filter: drop-shadow(0px 0px 2px rgb(250, 0, 0))
}

.shopping_icon_empty_basket {
    height: 64px;
    width: 64px;
}

.open_responsive_basket_button_container {
    padding: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    display: none;
}

.open_responsive_basket_button {
    background: rgb(10, 76, 97);
    border-width: 1px;
    border-style: solid;
    border-color: rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    padding: 16px 32px;
    font-family: 'Roboto';
    font-size: 24px;
    cursor: pointer;
    color: white;
    width: 100%;
}

.responsive_basket {
    background-color: rgb(250, 230, 209);
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    font-family: 'Roboto';
}

.responsive_basket_closed {
    transform: translateY(100%);
}

.responsive_assist_container {
    position: relative;
    overflow-y: clip;
}

.responsive_basket_dishes_container {
    padding: 16px;
}