.total_content {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
}

.main_content {
    width: calc(100% - 350px);
    /* box-shadow: 1px 0 5px black ; */
    border-right-width: 1px;
    border-right-style: solid;
    border-right-color: rgba(0, 0, 0, 0.5);
    flex-grow: 1;
}

.restaurant_information {
    position: relative;
}

.banner_image_container {
    background-image: url("/assets/img/indian_food_banner_image.jpg");
    height: 200px;
    background-size: cover;
}

.restaurant_name_container {
    padding: 32px;
}

.category_bar {
    background-color: rgb(255 128 0 / 50%);
    padding: 32px;
    display: flex;
    gap: 48px;
}

.main_dishes_header {
    padding-top: 32px;
    padding-left: 32px;
    padding-right: 32px;
}

.order_dishes_container {
    width: 100%;
    padding-top: 16px;
    padding-left: 32px;
    padding-right: 32px;
    padding-bottom: 32px;
    font-size: 32px;
}

.single_dish_container {
    padding-left: 16px;
    padding-bottom: 16px;
    border-style: solid;
    border-width: 2px;
    border-color: rgb(255 128 0 / 80%);
    margin-bottom: 32px;
}

.single_dish_container:hover {
    background-color: rgb(253, 200, 144);
}

.dish_name_and_add_dish_container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
}




